extends ../shared/_layout

block content
  div.view-settings
    h3
      b Добави оферта

  form.col.s10.m8.l6.offset-l3.offset-m2.offset-s1.add-offer(method='post', action='#')
    .row
      .input-field.col.s12
        input#name.validate(type='text' name='firstImage')
        label(for='password') Линк към снимката
    .row
      .input-field.col.s12
        input#name.validate(type='text' name='secondImage')
        label(for='password') Линк към снимката 2
    .row
      .input-field.col.s12
        textarea#textarea1.materialize-textarea
        label(for='textarea1') Textarea
    .row
      button.btn Добави