extends ../shared/_layout

block content
   div.view-settings
    h3
      b Manage Users
   .row.manage-users
     table.table.bordered
       thead
         tr
           th Id
           th Username
           th Profile Image
           th Email
           th Role
       tbody
         each user in users
           tr
               td 
                = user.id 
               td 
                = user.username
               td 
                = user.profilePic
               td 
                = user.email
               td 
                = user.role
               td
                a.btn.btn-mini Edit