extends ../shared/_layout

block content
   div.view-settings
    h3
      b Manage Users
   .row.search-users
     form.col.s9
       .row
         .input-field.col.s6
           input#icon_prefix.validate(type='text')
           label(for='icon_prefix') Search  
           button.btn.btn-sm Search
   .row.manage-users
     table.table.bordered
       thead
         tr
           th Id
           th Username
           th Email
           th Role
       tbody
         each user in users
           tr
               td 
                = user.id 
               td 
                = user.username
               td 
                = user.email
               td 
                = user.role
               td
                a.btn.btn-mini(href="/admin/edit/" + user.username) Edit
               td
                a.btn.btn-mini Make admin