doctype html
html(lang='en')
  head
   link(rel='stylesheet', href='./libs/materialize-css/dist/css/materialize.min.css')
   link(rel='stylesheet', href='./public/stlye/style.css')
  body
    nav(class="#01579b light-blue darken-4")
      .nav-wrapper
        a.brand-logo(href='#')
          strong
           | DELIGHT
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a.btn(href='/login') Log in
          li
            a.btn(href='/register') Register
    block content

    script(src='./libs/jquery/dist/jquery .min.js')
    script(src='./libs/materialize-css/dist/js/materialize.min.js')  