include navigation
include message

doctype html
html(lang='en')
  head
   link(rel='stylesheet', href='/libs/materialize-css/dist/css/materialize.css')
   link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
   link(rel='stylesheet', href='/public/style/style.css')
  body
    +nav()

    +message()

    block content

    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/materialize-css/dist/js/materialize.js')
    script(src='/public/js/event-listeners.js')  
    script(src='/public/js/sing-up-validator.js')