extends ./_layout

block content
    .row.for-us-description
      div.logo-image-d
        img.responsive-img.logo-image(src ='../../public/img/naslada_logo.png', alt="Delight")
      .card.horizontal.for-us-panel()
         .card-stacked
            .card-content
                p.for-us УТФ Наслада ООД  е създанена през 2002 година. Специализирана е в производството на шоколад и шоколадови продукти. 
                    |Сегашният екип на УТФ Наслада ООД е от ученици, специалност Предприемачество и мениджмънт в Национална финансово-стопанска гимназия, гр. София.Произвеждаме и предлагаме шоколади – обикновени, аеро с плодове и ядки, вафли – с ядки, с бял, черен и млечен шоколад, шоколадови бонбони – с лешници, ликьор и млечен шоколад. Нашите рецепти и опаковки са уникални. Плод са на креативността и уменията ни.Искаме да сме признат лидер на пазара на УТФ. Отличното обслужване, новаторството и коректното отношение към клиенти и бизнес партньори са дълг и чест за нас. Нашите ценности: Доверие, Уважение, Толерантност, Лоялност, ПочтеностНашите цели: Да развиваме своя професионализъм, да израстваме като личности с формирани ключови компетентности!
      .card.horizontal(style="width: 50%; margin-left: 25%; padding-top: 10px; padding-left: 10px;")
        h4 Съобщение
        .card-stacked
            .card-content
             p На 22.05.2018 г. ТП "Наслада" ООД ще вземе участие в училищен панаир на учебно-тренировъчните фирми.