extends ./_layout

block content
   div.view-settings
    h3
      b Меню
   .row.manage-users
     table.table.bordered
       thead
         tr
           th Име
           th Количество
           th Цена
       tbody
          each product in products
            tr
              td 
               = product.name 
              td 
               = product.quantity
              td 
               = product.price