mixin nav()
  include ../admin/side-nav.pug
  nav(class="#4e342e brown darken-3")
    .nav-wrapper
      a.brand-logo(href='#')
        img(src="../../public/img/naslada_logo.png", alt="Delight")
      if isAdmin
         +side-nav()
      ul#main-menu.right.hide-on-med-and-down
        li
          a.link(href='/', style="color: white")
            |НАЧАЛО
        li
          a.link(href='/menu', style="color: white")
            |МЕНЮ
        li
          a.link(href='/for-us', style="color: white")
            |ЗА НАs
        if isAuthenticated
          li
            a.link(href='/orders', style="color: white")
              | ПОРЪЧАЙ
          li.profile-enter
            a.button-collapse.link.profile-button(href='#', data-activates='slide-out', style="display: inline-block; color: white;")
              = user.username
              i.material-icons.right(style="color: white") account_box
        else
          ul#nav-mobile.right.hide-on-med-and-down
            li
              a.btn(href='/login') Вход
            li
              a.btn(href='/register') Регистрация
  div.divider.pink-line
      