mixin nav()
    nav(class="#01579b white darken-1")
          .nav-wrapper
            a.brand-logo(href='#')
              img(src="../../public/img/naslada_logo.png", alt="Delight")
            ul#main-menu.right.hide-on-med-and-down
              li
                a(href='/menu')
                  |МЕНЮ
              li
                a(href='/for-us')
                  |ЗА НАС
              li
                a(href='#')
                  |КОНТАКТИ
              if isAuthenticated
                li
                  a(href='#')
                    | ПОРЪЧАЙ
                li
                  a.btn.dropdown-button.right(href='#', data-activates='dropdown')
                      = user.username
                      i.material-icons.right arrow_drop_down
                  ul#dropdown.dropdown-content.right
                      if isAdmin
                        li 
                          a(href='/admin/edit/users') Потребители
                        li 
                          a(href='/menu/add-product') Добави продукт
                        li 
                          a(href='/menu/remove-product') Премахни продукт
                        li.divider
                      li
                        a(href='/' + user.username + '/profile') Моят Профил
                      li
                        a(href='/' + user.username + '/settings') Настройки
                      li.divider
                      li
                        a(href='/logout')
                          | Изход
              else
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                      a.btn(href='/login') Вход
                    li
                      a.btn(href='/register') Регистрация
