/* Navigation style */
nav {
    height: 80px;
    box-shadow: none;
}
.brand-logo>img {
    margin-top: 10px;
    margin-left: 30px;
    width: auto;
    height: 80px;
}

.dropdown-button.btn.right {
    margin-top: 13px;
    margin-right: 50px;
}

#dropdown.dropdown-content {
    margin-top: 50px;
}

nav .btn {
    background: #f1a7af;
    color: #5b2611;
}
nav .btn:active {
    background: #f1a7af;
    color: #5b2611;
}
nav .btn:hover {
    background: #f1a7af;
    color: #5b2611;
}

nav .btn:focus {
    background: #f1a7af;
    color: #5b2611;
}

#dropdown>li>a {
    color: #5b2611;
}

#main-menu a{
    color: #5b2611;
}

#main-menu a:hover{
    background: #f1a7af;
}

#main-menu a:focus{
    background: #f1a7af;
}

.material-icons {
    color: #5b2611;
    /* background: red; */
}

.profile {
   background-color: #f1a7af
}

.profile-info {
    margin-left: 30%;
}

.update-profile {
    margin-top: 50px;
    height: 400px;
    width: 500px;
}

.manage-users {
    margin-top: 100px;
    width: 1000px;
    background-color: #e5e7ea;
    border-radius: 5px;
}

.update-btn {
    margin-left: 38%;
}

.user-settings-table {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
}

.view-settings {
    height: 150px;
    background-color: #f1a7af;
    color: white;
    text-align: center;
}

.collapsible-header b {
    display: inline-block;
}

.collapsible-header p {
    margin-left: 75px;
    display: inline-block;
}

.view-settings img {
    width: 100px; height: 100px; 
    display: inline-block; 
    margin-right: 10%;
}

.view-settings h3 {
    display: inline-block; 
    margin-right: 10%;
}

.profile-image {
    width: 200px;
    height: 200px;
}

.for-us {
    width: 1000px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 22%;
}

.logo-image {
    margin-top: 100px;
    margin-left: 32%;
}












