extends ./shared/_layout

block content
  .slider.home-image-slider
    ul.slides
      li
        img(src='../public/img/chocolate-nuts.jpg')
        .caption.center-align
          h3 Шоколад с ядки
      li
        img(src='../public/img/chocolate-heart.jpg')
        .caption.left-align
          h3 Шоколадови сърца
      li
        img(src='../public/img/white-chocolate.jpg')
        .caption.right-align
          h3 Бял Шоколад
      li
        img(src='../public/img/chocolate-3.jpg')
        .caption.center-align
          h3 Млечен шоколад
  li.divider.pink-line(style="margin-top: 5%;")
  div.row.current-offer
    img(src='https://i.imgur.com/XYgILn4.jpg')
  li.divider.pink-line
        