extends ../shared/_layout

block content
    div.view-settings
        h3
          b Поръчай продукт
    .row(style="margin-top: 40px;")
      .col.s10.m8.l6.offset-l3.offset-m2.offset-s1
        form#login.form-horizontal(method="POST", action='/order')
          .form-group
            label.cols-sm-2.control-label(for='productName' ) Име на продукта
            .cols-sm-10
              input#username.form-control(type='text', name='productName', placeholder='Име на продукта' autofocus)
          .form-group
            label.cols-sm-2.control-label(for='quantity') Количество
            .cols-sm-10
              input#password.form-control(type='text', name='quantity', placeholder='Количество')
          .form-group 
              button.btn.btn-submit(style="margin-left: 10px;" type="submit") Поръчай