extends ../shared/_layout

block content
      .row.profile-info
        .col.s12.m7
          h2.header 
            = user.username
          .card.horizontal
            .card-image
              img(src=user.profilePic)
            .card-stacked
              .card-content
                p Name : 
                  strong
                   = user.username
                p Email : 
                  strong
                   = user.email
                p Money : 
                  strong
                   = user.moneyInTheCreditCard