extends ../shared/_layout

block content
      .row.profile
        .profile-info
          .col.s12.m7
            span
              h2.header.username(style='padding: 3%; color: white;')
                = user.username
              img.circle.responsive-img.profile-image(src = user.profilePic + '')
            div(style='background-color: white; padding: 2%; border-radius: 5%;')  
              p Name : 
                strong
                 = user.username
              div.divider(style="background-color: #60272a;")
              p Email : 
                strong
                 = user.email
              div.divider(style="background-color: #60272a;")
              p Money : 
                strong
                 = user.moneyInTheCreditCard