extends ../shared/_layout

block content
      div.view-settings
        h3
         b
          = user.username + ','
        h4 ти шефа на твоя акаунт
            
      table.bordered.user-settings-table
        tbody(style="width: 500px;")
          tr
            td 
              h6
               b Емайл
            td Добави или махни емайл адреса в товя акаунт
            td 
              a(href='#') Промени
          tr
            td 
              h6
               b Парало
            td Избери уникална парола, за да предпазиш твоя акаунт
            td 
              a(href='#') Промени
          tr
            td 
              h6
               b Име
            td Промени твоето име
            td  
              a(href='#') Промени
