mixin profileImage()
    form(method="POST", action='/' + user.username + '/update/profileImage')
        p
          input#newProfileImage(type='text' name='newProfileImage')
        button.btn.btn-primary(type='submit') Промени