mixin username()
    form(method="POST", action='/' + user.username + '/update/username')
        p
          input#email.validate(type='text', name='username')
        button.btn.btn-primary(type='submit') Промени